# ===============================
# .NET / Visual Studio
# ===============================

bin/
obj/

.vs/
.vscode/

*.user
*.suo
*.userosscache
*.sln.docstates

# ===============================
# Build results
# ===============================

[Bb]uild/
[Dd]ebug/
[Rr]elease/
x64/
x86/

# ===============================
# Logs
# ===============================

*.log

# ===============================
# OS files
# ===============================

.DS_Store
Thumbs.db

# ===============================
# Rider / JetBrains
# ===============================

.idea/
*.sln.iml

# ===============================
# ASP.NET Core
# ===============================

appsettings.Development.json
appsettings.Production.json

# ===============================
# Secrets
# ===============================

secrets.json
*.pfx

# ===============================
# Publish output
# ===============================

publish/